<div class="game">
  <div class="cards-container">

    <div *ngFor="let num of  counter(numOfCards); index as i" class="game-card" (click)="onCardClick(cards[i].imgNumber)" [class]="cards[i].isClicked  ? 'highlight': ''">
      @if (!cards[i].isMatched) {
        <card
        [card]="cards[i]"
        ></card>
      } @else {
        <p></p>
      }
    </div>
  </div>
  <div class="btns-container">
    <button (click)="onSetClick()">SET</button>
    <button>Add 3 cards</button>
    <button (click)="onDoneClick()">DONE</button>
  </div>
  <div class="error">{{error}}</div>
  <timer (secsRemainingEvent)="this.secsRemaining = $event;" [secsRemaining]="secsRemaining"></timer>
</div>