.home-container
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.nav-link
  margin: 1em
  padding: 1em
  border: 1px solid brown
  font-size: 2em
  text-decoration: none
  font-weight: bold