<div class="multiplayer-container">
  <h2>multiplayer</h2>
  <button (click)="onLeaveGame()">leave</button>
  @if (!gameId) {
    <h3>Available rooms</h3>

    @if (!isEmptyObject(rooms)) {
      @for (room of rooms|keyvalue; track rooms[gameId];) {
        <div class="room">
          <h2>Name: {{room.key}}</h2>
          <h3>Active players: {{getNumOfPlayers(room.value) }}</h3>
          <button (click)="onJoinGame(room.key)">Join room</button>
        </div>
      }
    } @else {
      <p>No available Rooms</p>
    }
  } @else { <!-- if game id exist -->
    @if (rooms[gameId]?.cards?.length) {
      <game [mpCards]="rooms[gameId].cards"></game>
    } @else {
      <button (click)="onStartGame(gameId)">Start Game</button>
    }
  }

  @if (!gameId) {
    <button (click)="onCreateRoom()">Create Room</button>
  }
</div>