<div class="game">
  <h2 class="score">Sets Found: {{score}}</h2>
  <button (click)="onLeaveGame()">Leave</button>
  <div class="cards-container">
    @if (gameCards) {
    <div *ngFor="let num of  counter(numOfCards); index as i" class="game-card" (click)="onCardClick(gameCards[i].imgNumber)" [class]="gameCards[i]?.isClicked  ? 'highlight': ''">
      @if (!gameCards[i]?.isMatched) {
        <card
        [card]="gameCards[i]"
        ></card>
      } @else {
        <p></p>
      }
    </div>
    }
  </div>
  <div class="btns-container">
    <button (click)="onSetClick()">SET</button>
    <button [disabled]="numOfCards > 12">Add 3 cards</button>
    <button (click)="onDoneClick()">DONE</button>
  </div>
  <div class="error">{{error}}</div>
  <timer (secsRemainingEvent)="this.secsRemaining = $event;" [secsRemaining]="secsRemaining"></timer>
</div>