.game-card  
  width: 30%
  height: 150px
  border: 1px solid black
  margin: 1em
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  border-radius: 12px
  box-shadow: 0 0 transparent
  transition: box-shadow 0.3s ease-out 

.game 
  width: 100%
  display: flex
  flex-direction: column
      
.cards-container
  display: flex
  flex-wrap: wrap  

.btns-container
  width: auto
  display: flex
  margin: 1em
  justify-content: space-between

.error
  text-align: center
  height: 1em

.highlight
  box-shadow: 5px 5px rgba(black, 0.5)
  transition: box-shadow 0.3s ease